.errorBoundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorBoundary button {
  background-color: white;
  color: black;
  padding: 4px;
  font-weight: 700;
  width: 100px;
}
